.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 3em;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 400;
}

.button {
  padding: 6px 12px;
  font-size: 1em;
  font-weight: 500;
  background-color: #e4e4e4;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 300ms ease-in-out;
}

.button:hover,
.button:focus {
  scale: 1.05;
}

.input {
  display: none;
}

.err {
  color: #bf0e0e;
}
